<%- include('./partial/header'); %>
		
<div class="hk-pg-wrapper">
	<div class="container-fluid" >
            <div class="row">
                <div class="col-11 mx-auto mt-3" >
                    <div class="hk-pg-body">
                            <h1 class="display-4 fw-bold mb-2">404 </h1>
                            <p class="p-lg"><%= data %></p>
                            <a href="/app" class="btn btn-primary mt-4">Anasayfaya dön</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
<%- include('./partial/footer'); %>