

 <%- include('./partial/header'); %>
		

 <div class="hk-pg-wrapper">
	<div class="container-xxl">
		<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10 "  >
					<a href="/app" type="button" class="btn border border-primary d-flex justify-content-center align-items-center" id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-home" style="font-size: 35px;"></i>
							<span>Anasayfa</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10" >
					<a  href="/app/customers" type="button" class="btn border border-primary d-flex justify-content-center align-items-center"  id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-users" style="font-size: 35px;"></i>
							<span>Müşteriler</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  mt-10" >
					<a  href="/app/offer" type="button" class="btn border border-primary d-flex justify-content-center align-items-center"  id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-file-contract" style="font-size: 35px;"></i>
							<span>Teklif</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10" >
					<a  href="/app/bill" type="button" class="btn border border-primary d-flex justify-content-center align-items-center" id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-clipboard" style="font-size: 35px;"></i>
							<span>Faturalar</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10" >
					<a type="button" class="btn border border-primary d-flex justify-content-center align-items-center" id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-box" style="font-size: 35px;"></i>
							<span>Ürünler</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10" >
					<a  href="/app/users" type="button" class="btn border border-primary d-flex justify-content-center align-items-center" id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-user" style="font-size: 35px;"></i>
							<span>Personel</span>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-10" >
					<a type="button" class="btn border border-primary d-flex justify-content-center align-items-center" id="mainButton">
						<div class="d-flex flex-column align-items-center">
							<i class="las la-user-clock" style="font-size: 35px;"></i>
							<span>Aktif Log</span>
						</div>
					</a>
				</div>
		</div>		
	</div>
</div>


 <%- include('./partial/footer'); %>